<% include ../partials/clearHead %>
<div id="screen">
  <div class="Form">
  <form action="/login" method = "post">
    <div>
      <label for="email">E-mail</label>
      <input type="text" name="email"></input>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="text" name="password"></input>
    </div>
    <div class="buttons">
      <button type="submit">Log In</button>
      <a href="/register">Register</a>
    </div>
  </form>
  </div>
</div>
<% include ../partials/footer %>